body{
    display: flex;
    justify-content: center;
}
.body{
	/* background-color: #3c5875; */
	background-color: #16172b; /* Fallback color */
}
.headerIzq{
	display: flex;
	flex-wrap: wrap;
}
/* Botones Header */

.BotonHeader{
	overflow: hidden;
    display: inline;
    font-weight: 700;
    color: #b1b1b1;
    line-height: 24px;
    padding: 4px 10px;
	text-emphasis: none;
	text-decoration: none;
	outline: none;
}
.BotonInicioRegistro{
	overflow: hidden;
    display: inline;
    font-weight: 700;
    color: #b1b1b1;
    line-height: 24px;
    padding: 4px 10px;
	text-emphasis: none;
	text-decoration: none;
	outline: none;
	border: 1px solid #5b5b5b; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.BotonHeader:hover{
	color: white;
}

.BotonInicioRegistro:hover{
	color: white;
	border: 1px solid white; 
}
/* Estilos para el botón y el dropdown */

.dropbtn {
	background: none;
	border: none;
	cursor: pointer;
  }
  
  .dropbtn > * {
	width: 70px;
	height: 70px;
	border-radius: 50%;
  }
  
  .dropdown {
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Mostrar el dropdown cuando se hace clic en el botón */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  .dropdown-content a:hover {
	background-color: #f1f1f1;
  }
  
  .show {
	display: block;
  }
  
/* Buscador */
.buscador-container {
	display: flex;
  }
  
  input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	outline: none;
  }
  
  .buscador {
	padding: 5px 10px;
	background-color: #5b5b5b;
	color: #fff;
	border: none;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	outline: none;
  }
  
  .buscador:hover {
	background-color: #5b5b5b;
  }
  /* Fin buscador */
