body{
    width: 100%;
    height: 100vh;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    background-color: #16172b;
    color: #a0a5a8;
    padding: 0;
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    height: 100px;
}

header > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > div:first-child{
    width: 90%;
}

header > div:last-child{
    margin-left: 35px;
}

header > div > ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
}

header > div > .drop {
    display: flex;
    align-items: center;
}

header .drec{
    justify-self: flex-end;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.info_cuenta{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 725px;
    background-color: #48494b;
    border: 1px solid #000000;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    padding: 56px;
}

.info_cuenta > h1 {
    font-size: 3em;
}

.info_cuenta > .imagen {
    align-items: center;
    justify-content: center;
}

.info_cuenta > .imagen > img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.info_cuenta > .botones {
    display: flex;
    gap: 10px;
    margin-top: 3%;
}

.info_cuenta > .botones > a, .info_cuenta > .botones > form > label {
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: #4b70e2;
    color: #f9f9f9;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
}

.editar_cuenta {
    box-sizing: border-box;
    width: 900px;
    display: none;
    position: fixed;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #48494b;
    border: 1px solid #000000;
    left: calc(50vw - 450px);
    top: 90px;
    gap: 60px;
    border-radius: 15px;
    padding: 30px;
    padding-top: 70px;
    padding-bottom: 70px;
}

.editar_cuenta .icono_quitar {
    position: absolute;
    top: 0px;
    left: 94%;
    cursor: pointer;
}

.cerrar {
    width: 50px;
    height: 50px;
}

.editar_cuenta > div {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editar_cuenta label {
    font-weight: bold;
    color: #4B70E2;
    font-size: 1.5em;
}

.editar_cuenta input {
    background: #3e3f41;
    color: #a0a5a8;
    border: 2px solid #717171;
    padding: 5px;
    border-radius: 7px;
    font-size: 1.5em;
}

.editar_cuenta .solo {
    width: 100%;
    display: flex;
    align-items: center;
}

.editar_cuenta .solo > * {
    width: 100px;
}

#editar:checked + .editar_cuenta {
    display: flex;
}

#card-number {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: textfield;
}
.historial, .favoritos{
    
    background-color: #3e3f41;
}
#card-number::-webkit-inner-spin-button,
#card-number::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.rol {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    color: #f9f9f9;
    padding: 15px;
    text-decoration: none;
    border: none;
}

.p__premium {
    background-color: #f6fc57;
    color: #000000;
    cursor: pointer;
}

.p__premium-ten {
    background-color: #6b6b6b;
    color: #ececec;
}

.p__admin {
    text-decoration: none;
    background-color: #3b8a58;
    color: #000000;
    cursor: pointer;
}


/*  */

.otros{
    width: 839px;
    padding-bottom: 50px;
}

.otros nav{
    width: 100%;
}
.otros form {
    width: 100%;
    display: flex;
}


.otros .opcion {
    width: 50%;
    font-size: 2em;
    font-weight: bold;
    background-color: #48494b;
    border: 4px solid #a0a5a8;
    border-top: 0;
}

.otros .opcion2 {
    width: 50%;
    font-size: 2em;
    font-weight: bold;
    background-color: #48494b;
    border: 4px solid #4B70E2;
    color: #4B70E2;
    border-top: 0;
}

.otros label {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.contenido {
    width: 100%;
    border: 1px solid #000000;
}

.cont {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
    flex-direction: column;
    height: 450px;
    overflow-y: scroll;
}

.fav, .hist {
    display: grid;
    width: 100%;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    justify-content: start;
    align-items: center;
    height: 150px;
    gap: 40px;
}

.fav{
    grid-template-columns: 120px 1fr 50px;
}

.hist{
    grid-template-columns: 120px 1fr 200px 50px;
}

.eliminar{
    justify-self: end;
    margin-right: 10px;
}

.img-fav, .img-hist {
    margin-left: 20px;
    height: 140px;
    width: 100px;
    border-radius: 5px;
}

.fav h3, .hist h3 {
    font-size: 3em;
}

.error {
    display: block;
    color: rgb(190, 57, 57);
    font-weight: bold;
}

.oculto {
    display: none;
}

.s__trash {
    background: none;
    border: none;
    cursor: pointer;
}

.trash {
    width: 25px;
    height: 25px;
}

.p__descripcion{
    margin-top: 56px;
    font-weight: bold;
    font-size: 1.4em;
    color: #be3939;
}

@media (max-width: 1185px) {
    header > div:last-child{
        margin-left: 0;
    }
}

@media (max-width: 854px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
    }

    header > div:first-child{
        flex-direction: column;
    }

    .info_cuenta{
        padding: 0;
    }

    .img-fav, .img-hist {
        display: none;
    }

    .otros{
        width: 727px;
    }

    .fav{
        grid-template-columns: 0px 1fr 50px;
    }

    .hist{
        grid-template-columns: 0px 1fr 200px 50px;
    }
}

@media (max-width: 744px) {
    .info_cuenta{
        width: 560px;
    }

    .botones{
        flex-direction: column;
    }

    .info_cuenta > .botones > a, .info_cuenta > .botones > form > label {
        width: 400px;
    }

    .otros{
        width: 560px;
    }

    .otros form{
        flex-direction: column;
    }
    .otros .opcion, .otros .opcion2{
        box-sizing: border-box;
        width: 100%;
    }

    .otros label{
        padding-left: 0;
        padding-right: 0;
    }

    .hist{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "titulo titulo"
                             "fecha eliminar";
    }

    .hist > h3 {
        text-align: center;
        font-size: 2.5em;
        grid-area: titulo;
        margin-bottom: 0;
    }

    .hist > .fecha {
        margin-left: 20px;
        grid-area: fecha;
    }

    .hist > .eliminar {
        grid-area: eliminar;
    }
}

@media (max-width: 570px) {
    .info_cuenta{
        width: 330px;
    }

    .info_cuenta > .botones > a, .info_cuenta > .botones > form > label{
        width: 300px;
    }

    .rol{
        width: 300px;
    }

    .otros{
        width: 330px;
    }
}

@media (max-width: 960px) {
    .editar_cuenta{
        width: 660px;
        left: calc(50vw - 330px);
        position: absolute;
    }

    .editar_cuenta .icono_quitar{
        left: 605px;
    }
}

@media (max-width: 710px) {
    .editar_cuenta{
        width: 300px;
        padding-left: 0;
        padding-right: 0;
        left: calc(50vw - 150px);
        position: absolute;
    }

    .editar_cuenta .icono_quitar{
        left: 245px;
    }

    .editar_cuenta > div{
        align-items: center;
    }
}