body{
  font-family: "Montserrat", sans-serif;
}
.portadaReproductor{
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    border-radius: 5px; 
}
.imagenFondoPortada {
    width: 100%;
    height: 98%;
    z-index: -1;
    background: url(../../src/img/ids_categoria/1.png);
    filter: blur(10px);
    position: absolute;
    top: 1%;
    left: 0;
}

  .player {
    box-sizing: border-box;
    position: relative;
    height: 300px;
    width: 600px;
    overflow: hidden;
    border-radius: 5px; }
    
  .player img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(10px); }
    
  .player .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7); }

    .TituloAnimeRepro{
      color: white;
      margin-top: 20px;
    }
    .DescripcionAnimeRepro{
      color: white;
    }

    .ListaEpisodiosBody{
      display: flex;
      flex-direction: column;
      background-color: #1b1c33;
      padding: 20px;
    }
    .Episodio{
      width: 100%;
      height: 150px;
      background-color: #101125;
      margin-bottom: 10px;
      color: white;
    }
    .ListaEpisodios{
      max-height: 800px;
      overflow-y: scroll;
    }
    .Episodio img{
      width: 20%;
    }
    .CajaBotonEpisodio{
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      margin-right: 30px;
      color: #fff;
    }
    .desplegableTemporada{
      width: 150px;
      height: 40px;
      border-color: #777777;
    }
    .form-select:focus{
      box-shadow: 0 0 0 .25rem rgba(57, 58, 59, 0.25);
    }
    #deshabilitado{
      pointer-events: none;
      opacity: 0.5;

    }