body{
    display: flex;
    justify-content: center;
}
.body{
	/* background-color: #3c5875; */
	background-color: #16172b; /* Fallback color */
}   
header{
    width: 100;
    }
    .slick-prev:before, .slick-next:before{
        font-size: 50px;
        margin-left: -35px;
    }

/* @media(max-width:1390px){
    .contenedor{
        background-color: red;
    }
}

@media(max-width:600px){
    .contenedor{
        background-color: blue;
    }
}

@media(max-width:680px){
    .contenedor{
        background-color: violet;
        width: 45%!important;
    }
}
 */

.card-container {
    position: relative;
    width: 250px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .card-container {
    transform: rotateY(180deg);
    cursor: pointer;
}
.cardFlip-block,
.cardFlip-block-back {
    width: 250px;
    height: 100%;
    backface-visibility: hidden;
}
.cardFlip-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
    background-color: white;
}
.cardFlip-block-back::before{
	 content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.slick-slide{
    width: 100%;
	display: flex!important;
	justify-content: center;
	background-image: url();
}

.Sinopsis{
    font-size: small;
}

.IconosPlay{
    width: 35px;
    margin-left: 10px;
}

.IconoFav{
    width: 27px;
	color: #fff;
}

.s__fav{
    background: none;
    border: none;
    cursor: pointer;
}

.contenedor{
    position: relative;
    display: flex;
    width: 80%;
}
  /*  slider */
  .slick-prev:before,
  .slick-next:before {
  font-size: 30px!important;
  margin-left: -5px!important;
  }

  .slick-dots li.slick-active button:before {
  color: #fff!important;
  }
  .slick-dots li button:before {
  color: #fff!important;
  }
  .slick-dots li button:hover:before {
  color: #fff!important;
  }
  /* Fin arrow slider */