body{
    display: flex;
    justify-content: center;
}
.body{
	/* background-color: #16172b; */
	background-color: #3c5875; /* Fallback color */
	background-image: -webkit-linear-gradient(top left, #16172b 10%, #3c5875); /* Chrome, Safari */
	background-image: -moz-linear-gradient(top left, #16172b 10%, #3c5875); /* Firefox */
	background-image: -o-linear-gradient(top left, #16172b 10%, #3c5875); /* Opera */
	background-image: linear-gradient(to top left, #16172b 97%, #3c5875 ); /* Standard syntax */
}
header{
    width: 100;
}
.slick-prev:before, .slick-next:before{
    font-size: 50px;
    margin-left: -35px;
}

/* @media(max-width:1390px){
    .contenedor{
        background-color: red;
    }
}

@media(max-width:600px){
    .contenedor{
        background-color: blue;
    }
}

@media(max-width:680px){
    .contenedor{
        background-color: violet;
        width: 45%!important;
    }
}
 */

.card-container {
    position: relative;
    width: 250px;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flip-card:hover .card-container {
    transform: rotateY(180deg);
    cursor: pointer;
}
.cardFlip-block,
.cardFlip-block-back {
    width: 250px;
    height: 100%;
    backface-visibility: hidden;
}
.cardFlip-block-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0%;
    background-color: white;
}
.slick-slide{
    width: 100%;
	display: flex!important;
	justify-content: center;
}

.Sinopsis{
    font-size: small;
}
.IconosPlay{
    width: 35px;
    margin-left: 10px;
}
.IconoFav{
    width: 27px;
}
.contenedor{
    position: relative;
    display: flex;
    width: 80%;
}
.contenedorPortada{
    position: relative;
    display: flex;
    width: 80%;
    height: 650px!important;
}
.contenedorPortada::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
    z-index: 1;
}
.contenedorPortada > * {
    position: relative;
    z-index: 2; /* Aquí estás definiendo un z-index mayor para los elementos hijos */
}
/* Portada */
.pelicula-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/backdrop.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.pelicula-principal .contenedor {
	margin: 0 auto;
}

.pelicula-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.pelicula-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.pelicula-principal .boton:hover {
	background: #fff;
	color: #000;
}

.pelicula-principal .boton i {
	margin-right: 1.25em;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}
}
/* Fin portada */

/* Botones Header */

.BotonHeader{
	overflow: hidden;
    display: inline;
    font-weight: 700;
    color: #b1b1b1;
    line-height: 24px;
    padding: 4px 10px;
	text-emphasis: none;
	text-decoration: none;
	outline: none;
}
.BotonInicioRegistro{
	overflow: hidden;
    display: inline;
    font-weight: 700;
    color: #b1b1b1;
    line-height: 24px;
    padding: 4px 10px;
	text-emphasis: none;
	text-decoration: none;
	outline: none;
	border: 1px solid #5b5b5b; 
	display: flex;
	justify-content: center;
	align-items: center;
}

.BotonHeader:hover{
	color: white;
}

.BotonInicioRegistro:hover{
	color: white;
	border: 1px solid white; 
}
/* Buscador */
.buscador-container {
	display: flex;
  }
  
  input[type="text"] {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px 0 0 5px;
	outline: none;
  }
  
  .buscador {
	padding: 5px 10px;
	background-color: #5b5b5b;
	color: #fff;
	border: none;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	outline: none;
  }
  
  .buscador:hover {
	background-color: #5b5b5b;
  }
  /* Fin buscador */