html, body{
	height:100%;
	margin:0;
	display: flex;
	flex-direction: column;
	background-color: black!important;
  }
:root {
  --plyr-color-main: #3c5875;
} 
.plyr--video.plyr--menu-open{
  overflow: hidden!important;
}
.plyr__controls .plyr__controls__item.plyr__time:hover{
  cursor: pointer;
}